@using System.Data
@model System.Data.DataTable
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http
@if (TempData["ErrorMessages"] != null)
{
    var errorMessages = ((string[])TempData["ErrorMessages"]).ToList();
    @foreach (var message in errorMessages)

    {
        <div class="alert alert-primary" id="NotificationDiv" runat="server" role="alert">
            <span class="fe fe-alert-circle fe-16 mr-2" id="Notif   ication" runat="server">
                @message
            </span>
        </div>
    }

}


<div class="col-md-12 my-4" id="MainDiv">
    <div class="card shadow">
        <div class="card-body">
            @using (Html.BeginForm("InsertSubProcess", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))

            {
                <div class="row">
                    <!-- First Column -->
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="LocationDropDown">Location Name</label>  <span style="color:#FF581C"> *</span>
                            @Html.DropDownList("Location_ID", (List<SelectListItem>)ViewBag.Locations, "Select Location", new { @class = "custom-select", id = "Location_ID", onchange = "onLocationChange()", required = "required" })
                        </div>

                        <div class="form-group mb-3">
                            <label for="ProgramID">Program Name</label>  <span style="color:#FF581C"> *</span>
                            <select name="ProgramID" id="ProgramID" class="custom-select" onchange="onProgramChange()" required>
                                <option value="">Select Process</option>
                            </select>
                        </div>
                    </div>

                    <!-- Second Column -->
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="TypeProcess">Type Of Process</label> <span style="color:#FF581C"> *</span>
                            <select name="TypeProcess" id="TypeProcess" class="custom-select" required> 
                                <option value="">Select Process</option>
                                <option value="Voice">Voice</option>
                                <option value="Non_Voice">Non Voice</option>
                                <option value="Semi_Voice">Semi Voice</option>
                            </select>
                        </div>

                        <div class="form-group mb-3">


                            <label for="SubProcess">SubProcess</label> <span style="color:#FF581C"> *</span>
                            <input type="text" required id="SubProcess" name="SubProcess" autocomplete="off" class="form-control" />
                            <input type="hidden" id="HiddenSubProcessID">
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="Number_Of_Pause">Number Of Pause</label> <span style="color:#FF581C"> *</span>
                            <input type="number" required id="Number_Of_Pause" name="Number_Of_Pause" autocomplete="off" class="form-control" />
                        </div>
                    </div>

 
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="fileUpload">Upload Agent List</label> 
                                <span style="color:#FF581C"> *</span>
                                <a href="/SampleFile/AgentUpload.xls"  download>Download Sample File</a>
                       
                            <input  type="file" id="fileUpload" name="file" class="form-control" required />
                        </div>
                    </div>
                </div>

                <div class="row">


                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="fileUpload">Upload Matrix List</label> 
                                <span style="color:#FF581C">*</span>
                            
                                <a href="/SampleFile/UploadMatrix.xls" download>Download Sample File</a>
                          
                            <input type="file" id="MatrixfileUpload" name="files" class="form-control" required />
                        </div>
                    </div>
                </div>



                <div class="col-md-4 my-4">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            }


        </div>
    </div>
</div>


<div class="col-md-12 my-4" id="EditDiv" style="display:none">
    <div class="card shadow">
        <div class="card-body">
            @using (Html.BeginForm("UpdateSubProcess", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="LocationDropDown">Location Name</label>
                            @Html.DropDownList("Location_ID2", (List<SelectListItem>)ViewBag.Locations, new { @class = "custom-select", id = "Location_ID", disabled = "disabled" })

                        </div>


                        <div class="form-group mb-3">
                            <label for="SubProcess">SubProcess</label>
                            <input type="text" id="SubProcess2" name="SubProcess" autocomplete="off" class="form-control" />
                            <input type="hidden" id="HiddenSubProcessID23" name="SubProcessID">
                        </div>



                    </div>

                    <div class="form-group col-md-6">
                        <div class="form-group mb-3">
                            <label for="ProgramID22">Program Name</label>
                            <input type="text" id="ProgramID22" name="ProgramID22" autocomplete="off" class="form-control" readonly />
                        </div>
                        <div class="form-group mb-3">
                            <label for="Number_Of_Pause">Number Of Pause</label>
                            <input type="number" id="Number_Of_Pause2" name="Number_Of_Pause" autocomplete="off" class="form-control" />
                        </div>
                    </div>
                </div>





                <div class="card shadow mb-4" id="AgentListEdit" style="display:none">
                    <div class="card-header">
                        <strong class="card-title">Agent List</strong>
                        <button id="selectAll" style="margin-left:50px;" class="btn btn-primary mt-3"> Selected All</button>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <table id="agentTable" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Emp Name</th>
                                        <th>Emp Code</th>
                                        <th>TL Name</th>
                                        <th>TL Code</th>
                                        <th>QA Name</th>
                                        <th>Batch ID</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2 my-4">
                        <label for="ProgramID2"></label>
                        <button type="submit" id="RemoveAllAgent" class="btn btn-primary">Remove Agnets</button>

                    </div>
                    <div class="form-group mb-4">
                        <label for="ProgramID2">Upload Agent List</label>
                        <input type="file" id="fileUpload2" name="file" class="form-control" required />
                    </div>


                    <div class="col-md-2 my-4">
                        <label for="ProgramID2"></label>
                        <button type="submit" id="UpdateSubProcesdure" class="btn btn-primary">Save</button>

                    </div>
                </div>

            }




        </div>
    </div>
</div>


<div id="UserCardBody" style="visibility:hidden" class="col-md-12 my-4">
    <div class="card shadow">
        <div class="card-body">
            <table id="UserTable" style="visibility:hidden" class="table table-bordered table-hover mb-0">
                <thead>
                    <tr>

                        <th>ID</th>
                        <th>LocationName</th>

                        <th>ProcessName</th>
                        <th>SubProcess</th>
                        <th>Action</th>
                        <th>Edit</th>
                     
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card shadow mb-4" id="AgentListEdit" style="display:none">
    <div class="card-header">
        <strong class="card-title">Agent List</strong>
        <button id="AddAgent" class="btn btn-primary mt-4" style="margin-bottom:20px;margin-left:50px">ADD</button>

        <button id="UpdateAgentList" class="btn btn-primary mt-4" style="margin-bottom:20px;margin-left:50px" onclick="UpdateAGentList()">Update Agent List</button>

    </div>
    <div class="card-body">
        <div class="row">
            <table id="agentTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th style="display:none">ID</th>
                        <th>Emp Name</th>
                        <th>Emp Code</th>
                        <th>TL Name</th>
                        <th>TL Code</th>
                        <th>QA Name</th>
                        <th>Batch ID</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>


<!-- Bootstrap Modal -->
<div class="modal fade" id="agentModal" tabindex="-1" aria-labelledby="agentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agentModalLabel">Add Agent</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="agentForm">
                    <div class="mb-3">
                        <label for="empName" class="form-label">Emp Name</label>
                        <input type="text" class="form-control" id="empName" required>
                    </div>
                    <div class="mb-3">
                        <label for="empCode" class="form-label">Emp Code</label>
                        <input type="text" class="form-control" id="empCode" required>
                    </div>
                    <div class="mb-3">
                        <label for="tlName" class="form-label">TL Name</label>
                        <input type="text" class="form-control" id="tlName" required>
                    </div>
                    <div class="mb-3">
                        <label for="tlCode" class="form-label">TL Code</label>
                        <input type="text" class="form-control" id="tlCode" required>
                    </div>
                    <div class="mb-3">
                        <label for="qaName" class="form-label">QA Name</label>
                        <input type="text" class="form-control" id="qaName" required>
                    </div>
                    <div class="mb-3">
                        <label for="batchID" class="form-label">Batch ID</label>
                        <input type="text" class="form-control" id="batchID" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveAgent">Save</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="pauseModal" tabindex="-1" aria-labelledby="pauseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pauseModalLabel">Enter Value</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="agentValue">Enter pause Count:</label>
                <input type="text" id="pauseValue" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="ClosePauseValue()">Close</button>

                <button type="button" class="btn btn-primary" onclick="submitPauseValue()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit SubProcess</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <div class="form-group">
                        <label for="editSubProcess">SubProcess Name</label>
                        <input type="text" class="form-control" id="editSubProcess" />
                        <input type="hidden" id="editSubProcessId" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script src="~/js/jquery.min.js"></script>


<script>

        $(document).ready(function () {
        $("#UpdateSubProcesdure").click(function (e) {
            e.preventDefault(); // Prevent default form submission
                  var subProcessID = $("#HiddenSubProcessID23").val().trim();
        var subProcess = $("#SubProcess2").val().trim();
        var programName = $("#ProgramID22").val().trim();
        var numberOfPause = $("#Number_Of_Pause2").val().trim();
        var fileUpload = $("#fileUpload2").val();

            // Validation checks
            if (subProcess === "") {
                alert("Please enter SubProcess.");
                return false;
            }
            if (programName === "") {
                alert("Please enter Program Name.");
                return false;
            }
            if (numberOfPause === "") {
                alert("Please enter Number Of Pause.");
                return false;
            }
            if (fileUpload === "") {
                alert("Please upload the Agent List file.");
                return false;
            }

            // If all checks pass, submit the form
            $(this).closest("form").submit();
        });
    });

</script>
<script>



    $(document).ready(function () {
           $("#selectAll").click(function () {
               var allChecked = $(".agentCheckbox").length === $(".agentCheckbox:checked").length;
               $(".agentCheckbox").prop("checked", !allChecked);
           });
       });


        $(document).ready(function () {
        $("#RemoveAllAgent").click(function () {
            var selectedEmpCodes = [];
             var process = $("#ProgramID22").val();
        var subProcess = $("#HiddenSubProcessID23").val();
               console.log("Process:", process);
           console.log("SubProcess:", subProcess);
            // Collect all checked checkboxes and get their associated Employee Codes
            $(".agentCheckbox:checked").each(function () {
                var empCode = $(this).closest("tr").find("td:eq(2)").text().trim(); // Get Emp Code (3rd column)
                selectedEmpCodes.push(empCode);
            });

            if (selectedEmpCodes.length === 0) {
                alert("No agents selected.");
                return;
            }

            console.log("Selected Emp Codes:", selectedEmpCodes);


                        $.ajax({
                             url: "/Module/RemoveAgents",// Replace with your actual API URL
                            type: "POST",
                            data: JSON.stringify({ empCodes: selectedEmpCodes , process: process, subProcess: subProcess}),
                            contentType: "application/json",
                            success: function (response) {
                                               if (response.success) {
                                        alert("Agents removed successfully!");

                                        // Refresh the table with updated data
                                        var tbody = $("#agentTable tbody");
                                        tbody.empty(); // Clear table before appending new data
                                        console.log(JSON.stringify(response.agentgried))
                                        $.each(response.agentgried, function (index, agent) {
                                            var row = `<tr>
                                                <td><input type="checkbox" class="agentCheckbox" value="${agent.id}"></td>
                                                <td>${agent.empName}</td>
                                                <td>${agent.empCode}</td>
                                                <td>${agent.tL_Name}</td>
                                                <td>${agent.tL_Code}</td>
                                                <td>${agent.qA_Name}</td>
                                                         <td>${agent.batch_ID}</td>
                                            </tr>`;
                                            tbody.append(row);
                                        });
                                    } else {
                                        alert("Failed to remove agents.");
                                    }
                },
                error: function () {
                    alert("An error occurred while removing agents.");
                }
            });
        });
    });

</script>
<script>
         $(document).ready(function () {
        // Open modal when clicking "ADD" button
        $("#AddAgent").click(function () {
            $("#agentModal").modal("show");
        });

        // Close modal when clicking "Close" button
        $(".btn-close, .btn-secondary").click(function () {
            $("#agentModal").modal("hide");
        });

        // Save agent data when clicking "Save" button
        $("#saveAgent").click(function () {
            var empName = $("#empName").val();
            var empCode = $("#empCode").val();
            var tlName = $("#tlName").val();
            var tlCode = $("#tlCode").val();
            var qaName = $("#qaName").val();
            var batchID = $("#batchID").val();

            // Validation: Ensure all fields are filled
            if (!empName || !empCode || !tlName || !tlCode || !qaName || !batchID) {
                alert("All fields are required!");
                return;
            }

            var newID = Math.floor(Math.random() * 10000);  // Generate a unique ID

            var newRow = `<tr>
                <td style="display:none">${newID}</td>
                <td>${empName}</td>
                <td>${empCode}</td>
                <td>${tlName}</td>
                <td>${tlCode}</td>
                <td>${qaName}</td>
                <td>${batchID}</td>
                <td><button class="btn btn-danger btn-sm removeAgent">Remove</button></td>
            </tr>`;

            // Append new row to table
            $("#agentTable tbody").append(newRow);

            // Hide modal & reset form
            $("#agentModal").modal("hide");
            $("#agentForm")[0].reset();
        });

        // Remove agent when clicking "Remove" button
        $("#agentTable").on("click", ".removeAgent", function () {
            $(this).closest("tr").remove();
        });
    });


</script>
<script>
    function onLocationChange() {

        var Location = $('#Location_ID').val();

        $.ajax({
            type: "POST",
            data: JSON.stringify({ id: Location }),

            url: "/Admin/GetProcessList",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                var dropdown = $('#ProgramID');
                dropdown.empty();
                dropdown.append('<option value="">Select Process</option>');
                response.proces.forEach(function (item) {
                    dropdown.append('<option value="' + item.value + '">' + item.text + '</option>');
                });
            },
            error: function (xhr, status, error) {
                console.error("Error occurred: " + error);
            }
        });
    }

    function UpdateAGentList()
    {


                          var agentData = [];

             let programID_2 = $("#ProgramID").val();
            let subProgramID_2 = $("#HiddenSubProcessID").val();

            $("#agentTable tbody tr").each(function () {
                var row = $(this).find("td");
                var agent = {
                    ID: $(row[0]).text().trim(),
                    EmpName: $(row[1]).text().trim(),
                    EmpCode: $(row[2]).text().trim(),
                    TL_Name: $(row[3]).text().trim(),
                    TL_Code: $(row[4]).text().trim(),
                    QA_Name: $(row[5]).text().trim(),
                    Batch_ID: $(row[6]).text().trim(),
                                    programId:programID_2,
                    subProgramId: subProgramID_2
                    };
                agentData.push(agent);
            });

            console.log(agentData); // Debugging output

            $.ajax({
                type: "POST",
                url: "/ManageForm/SaveAgents",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ agents: agentData }),  // Wrap inside an object
                success: function (response) {
                    alert("Agent List  Edited  successfully!");
                    $("#AgentListEdit").hide();

                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });



    }

    function onProgramChange() {
        var programId = document.getElementById("ProgramID").value;
        $.ajax({
            type: "POST",
            data: JSON.stringify({ id: programId }),

            url: "/Module/GetSUBProcessList",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response);
                var tableBody = $('#UserTable tbody');
                tableBody.empty();
                var loc = document.getElementById("Location_ID");
                var locationName = loc.options[loc.selectedIndex].text;

                var proc = document.getElementById("ProgramID");
                var processName = proc.options[proc.selectedIndex].text;


                var userCardBody = document.getElementById("UserCardBody");
                var userTable = document.getElementById("UserTable");

                if (response && response.proces && response.proces.length > 0) {
                    userCardBody.style.visibility = "visible";
                    userTable.style.visibility = "visible";
                    response.proces.forEach(function (item) {
                        var textValues = item.text.split(',');


                        var firstText = textValues[0];
                        var secondText = textValues[1];
                           var ThirtText = textValues[2];
                       var row = `
                                    <tr>
                                              <td>${item.value}</td>
                                        <td>${locationName}</td>
                                        <td>${processName}</td>
                                            <td>${firstText} </td>
                                             <td>${ThirtText} </td>
                                                 <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="chk_${item.value}" ${secondText == "1" ? "checked" : ""} onclick="updateStatus('${item.value}', this.checked)" />
                                <label class="custom-control-label" for="chk_${item.value}"></label>
                            </div>
                        </td>
                                            <td>
                                                <button class="btn btn-sm btn-primary" onclick="editSubProcess('${item.value}', '${firstText}', '${processName}', '${ThirtText}', '${locationName}')">Edit</button>

                                        </td>


                                    </tr>
                                `;
                        tableBody.append(row);
                    });
                } else {
                    userCardBody.style.visibility = "visible";
                    userTable.style.visibility = "visible";
                    var row = `<tr><td colspan="3">No data available</td></tr>`;
                    tableBody.append(row);
                }
            },
            error: function (xhr, status, error) {
                console.error("Error occurred: " + error);
            }
        });

    }
    function updateStatus(name, isChecked) {

        var status = isChecked ? 1 : 0;

        SaveSUBProcess(name, status);

    }
    function PauseCount(id, currentName) {
           $("#HiddenSubProcessID").val(id);
         var ProgramID = $("#ProgramID").val();
        $("#pauseModal").modal("show"); // Show modal using jQuery
      }
         function ClosePauseValue() {
              $("#pauseModal").modal("hide");

         }


          function submitPauseValue() {

                var pauseValue = document.getElementById("pauseValue").value;

                        if (!pauseValue) {
                            alert("Please enter a value.");
                            return;
                        }
                     var ProgramID = $("#ProgramID").val();
                      var SubProgramID = $("#HiddenSubProcessID").val();

                    $.ajax({
                    url: "/Module/UpdatePauseCount",
                    type: "POST",
                    data: { id: ProgramID  ,ProgramID:SubProgramID , pauseValue:pauseValue},
                    success: function (response) {
                          $("#pauseModal").modal("hide");
                    },
                    error: function (xhr, status, error) {
                        console.error("Error updating agent:", error);
                    }
                    });

    }
     function editAgent(id, currentName) {

         $("#AgentListEdit").show();
         $("#HiddenSubProcessID").val(id);
         var ProgramID = $("#ProgramID").val();
         console.log("SubPreogra..." +ProgramID );
        $.ajax({
        url: "/Module/Edit",
        type: "POST",
        data: { id: id  ,ProgramID:ProgramID},
        success: function (response) {
           if (response.agentgried && response.agentgried.length > 0) {
                    var tbody = $("#agentTable tbody");
                    tbody.empty(); // Clear existing rows

                        $.each(response.agentgried, function (index, agent) {
                        var row = `<tr>
                             <td><input type="checkbox" class="agentCheckbox" value="${agent.id}"></td>
                            <td>${agent.empName}</td>
                            <td>${agent.empCode}</td>
                            <td>${agent.tL_Name}</td>
                            <td>${agent.tL_Code}</td>
                            <td>${agent.qA_Name}</td>
                                     <td>${agent.batch_ID}</td>

                        </tr>`;
                        tbody.append(row);
                    });
                } else {
                    $("#agentTable tbody").html("<tr><td colspan='6' class='text-center'>No Data Found</td></tr>");
                }
        },
        error: function (xhr, status, error) {
            console.error("Error updating agent:", error);
        }
    });
    }

    function SaveSUBProcess(id, status) {
        $.ajax({
            url: '/Admin/ActiveDeActiveSubProcess',  // Replace with your controller and method name
            type: 'POST',
            data: {
                id: id,
                isActive: status
            },
            success: function (response) {
                if (response.success) {
                    alert('Process status updated successfully.');
                } else {
                    alert('Error: ' + (response.message || 'An error occurred while updating the status.'));
                }
            },
            error: function () {
                alert('Error: Failed to communicate with the server.');
            }
        });

    }
    function editSubProcess(value, firstText,processName, thirtText , locationName) {
         $("#EditDiv").show();
         $("#MainDiv").hide();
          editAgent(value, firstText);
             document.getElementById("HiddenSubProcessID23").value = value;
         document.getElementById("SubProcess2").value = firstText;
     document.getElementById("Number_Of_Pause2").value = thirtText;
     document.getElementById("ProgramID22").value = processName;
      document.getElementById("Location_ID2").value = locationName;


     }

    function saveChanges() {
        var updatedName = $('#editSubProcess').val();
        var subProcessId = $('#editSubProcessId').val();


        $.ajax({
            type: "POST",
            data: { id: subProcessId, newName: updatedName },
            url: "/Admin/UpdateSubProcessName",

            success: function () {
                alert('SubProcess updated successfully!');
                $('#editModal').modal('hide');
                onProgramChange(); // Refresh the table
            },
            error: function (xhr, status, error) {
                console.error("Error occurred: " + error);
            }
        });


    }
</script>