@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header">
        <strong class="card-title"> Select process</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="ProgramID">Program Name</label>
                    @Html.DropDownList(
                             "ProgramID",
                             (List<SelectListItem>)ViewBag.ProcessList,
                             "Select Program",
                             new { @class = "custom-select", id = "ProgramID", onchange = "onProgramChange()" }
                             )
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="SUBProgramID">Sub Program Name</label>
                    <select name="SUBProgramID" id="SUBProgramID" class="custom-select" onchange="onSubProgramChange()">
                        <option value="">Select Process</option>
                    </select>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4" style="display: none;" id="Staticfeild">
    <div class="card-header">
        <strong class="card-title"> Static Feild</strong>
    </div>
    <div class="card-body">
        <div class="row">


            <div class="col-md-4">
                <div class="form-group mb-3">

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Program Name</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Sub Program name</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Employee Supervisor</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Monitor Name</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Year</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Disposition</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Employee ID</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Employee name</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Agent Tenure (<90 or>90 days)</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Monitoring ID</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Month</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Category 1</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Call ID</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Monitored date</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Transaction duration (AHT)</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Transaction Date</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Week</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Category 2</label>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="card shadow mb-4" id="Sectionfeild" style="display: none;">
    <div class="card-header">
        <strong class="card-title">Section </strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group mb-3">
                    <label for="Section_Category">Category</label>
                    <input type="text" id="Section_Category" class="form-control">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group mb-3">
                    <label for="Section_ID">Section</label>
                    @Html.DropDownList("Section_ID", (List<SelectListItem>)ViewBag.Section_Category, "Select Section", new { @class = "custom-select", id = "Section_ID" })
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group mb-3">
                    <label for="Rating_ID">Rating</label>
                    @Html.DropDownList("Rating_ID", (List<SelectListItem>)ViewBag.RatingMaste, "Select Rating", new { @class = "custom-select", id = "Rating_ID" })
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group mb-3">
                    <label for="scorableDropdown">Scorable</label>
                    <select id="scorableDropdown" class="custom-select">
                        <option value="">Select</option>
                        <option value="Yes">YES</option>
                        <option value="No">NO</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group mb-3">
                    <label for="Section_Score">Score</label>
                    <input type="number" id="Section_Score" class="form-control">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group mb-3">
                    <label for="LevelDropdown">Level</label>
                    <input type="text" id="LevelDropdown" class="form-control">
                  
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group mb-3">
                    <label for="FatalDropdown">Fatal</label>
                    <select id="FatalDropdown" class="custom-select">
                        <option value="">Select</option>
                        <option value="Yes">YES</option>
                        <option value="No">NO</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group mb-3">
                    <button class="btn btn-primary" style="margin-top: 32px; margin-left: 45px;" onclick="addToGrid()">
                        Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mt-4" id="sectiongried" style="display: none;">
    <div class="card-header">
        <strong class="card-title">Section List</strong>
    </div>
    <div class="card-body">
        <table class="table table-bordered" id="dataGrid">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Section</th>
                    <th>Rating</th>
                    <th>Scorable</th>
                    <th>Score</th>
                    <th>Level</th>
                    <th>Fatal</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="card shadow mb-4" id="DynamicFeilds" style="display: none;">
    <div class="card-header">
        <strong class="card-title">Dynamic Form</strong>
    </div>
    <div class="card-body">
        <div class="row">
   
            <div class="col-md-3">
                <div class="form-group mb-3">
                    <label for="Field_Name">Field Name</label>
                    <input type="text" id="Field_Name" class="form-control">
                    <small class="text-danger d-none" id="nameError">Field Name is required.</small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-3">
                    <label for="Field_Type">Field Type</label>
                    <select id="Field_Type" class="form-control">
                        <option value="">Select</option>
                        <option value="text">Text</option>
                        <option value="number">Number</option>
                        <option value="password">Password</option>
                        <option value="date">Date</option>
                        <option value="datetime-local">Date-Time</option>
                        <option value="month">Month</option>
                        <option value="week">Week</option>
                        <option value="range">Range (Slider)</option>
                        <option value="checkbox">Checkbox</option>
                        <option value="radio">Radio Button</option>
                        <option value="dropdown">Dropdown (Select)</option>
                        
                    </select>
                    <small class="text-danger d-none" id="typeError">Field Type is required.</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-3">
                    <label for="Field_Value">Field Value</label>
                    <input type="text" id="Field_Value" class="form-control" placeholder="Enter values">
                    <small class="text-muted" id="valueHelp">For dropdown, checkbox & radio, enter comma-separated values.</small>
                    <small class="text-danger d-none" id="valueError">Invalid value.</small>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group mb-3">
                    <button id="addField" class="btn btn-primary mt-4">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card shadow" style="display:none" id="Dynamicgried">
    <div class="card-header">
        <strong class="card-title">Added Fields</strong>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Field Name</th>
                    <th>Field Type</th>
                    <th>Field Values</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="fieldTable">       
            </tbody>
        </table>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/apps.js"></script>

<script>
    $(document).ready(function () {
        $("#Field_Type").change(function () {
            var fieldType = $(this).val();
            var valueInput = $("#Field_Value");
            var valueHelp = $("#valueHelp");

            valueInput.val(""); // Reset value input

            if (["date", "datetime-local", "month", "week"].includes(fieldType)) {
                valueInput.attr("type", fieldType);
                valueHelp.text("Pick a valid " + fieldType + ".");
            } else if (fieldType === "color") {
                valueInput.attr("type", "color");
                valueHelp.text("Pick a color.");
            } else if (fieldType === "range") {
                valueInput.attr("type", "range");
                valueHelp.text("Select a range.");
            } else if (["dropdown", "checkbox", "radio"].includes(fieldType)) {
                valueInput.attr("type", "text");
                valueInput.attr("placeholder", "Enter values separated by commas");
                valueHelp.text("For dropdown, checkbox & radio, enter comma-separated values.");
            } else {
                valueInput.attr("type", "text");
                valueInput.attr("placeholder", "Enter a single value");
                valueHelp.text("For textbox, number, email, etc., enter a single value.");
            }
        });

        function validateFieldValue(fieldType, value) {
            if (fieldType === "number") {
                return /^\d+(\.\d+)?$/.test(value); // Validate number
            }
            if (["date", "datetime-local", "month", "week"].includes(fieldType)) {
                return !isNaN(new Date(value).getTime()); // Validate date types
            }
            if (fieldType === "url") {
                return /^(https?:\/\/)?([\w\d-]+\.)+\w{2,}(\/.*)?$/.test(value); // Validate URL
            }
            if (["dropdown", "checkbox", "radio"].includes(fieldType)) {
                return value.includes(",") && value.split(",").length > 1; // Ensure comma-separated values
            }
            return value.trim() !== ""; // Default non-empty validation
        }

        $("#addField").click(function () {
            var fieldName = $("#Field_Name").val().trim();
            var fieldType = $("#Field_Type").val();
            var fieldValue = $("#Field_Value").val().trim();
            var isValid = true;

            $(".text-danger").addClass("d-none"); // Hide all previous errors

            if (fieldName === "") {
                $("#nameError").removeClass("d-none");
                isValid = false;
            }

            if (fieldType === "") {
                $("#typeError").removeClass("d-none");
                isValid = false;
            }

            if (!validateFieldValue(fieldType, fieldValue)) {
                if (["dropdown", "checkbox", "radio"].includes(fieldType)) {
                    $("#valueError").text("For " + fieldType + ", enter comma-separated values (e.g., Option1, Option2).").removeClass("d-none");
                } else {
                    $("#valueError").text("Invalid value.").removeClass("d-none");
                }
                isValid = false;
            }

            if (!isValid) return;

            $("#Dynamicgried").show(); // Show table section

            $("#fieldTable").append(`
                <tr>
                    <td>${fieldName}</td>
                    <td>${fieldType}</td>
                    <td>${fieldValue}</td>
                    <td><button class="btn btn-danger btn-sm removeField">Delete</button></td>
                </tr>
            `);

            // Clear input fields
            $("#Field_Name").val("");
            $("#Field_Type").val("");
            $("#Field_Value").val("");
        });

        $(document).on("click", ".removeField", function () {
            $(this).closest("tr").remove();
        });
    });

</script>

<script>
    function onProgramChange() {
        var programId = document.getElementById("ProgramID").value;
        if (programId === "") {
            alert("Select Valid  Program");
            return;
        }
        $.ajax({
            type: "POST",
            data: JSON.stringify({ id: programId }),

            url: "/Admin/GetSUBProcessList",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                console.log(response.d);
                var dropdown = $('#SUBProgramID');
                dropdown.empty();
                dropdown.append('<option value="">Select Process</option>');
                response.proces.forEach(function (item) {
                    dropdown.append('<option value="' + item.value + '">' + item.text.split(',')[0] + '</option>');
                });

                if (response.proces && response.proces.length > 0) {
                    $("#DynamicFeilds").hide();
                    $("#Staticfeild").hide();
                    $("#Sectionfeild").hide();
                } else {
                    $("#DynamicFeilds").show();
                    $("#Sectionfeild").show();
                    $("#Staticfeild").show();
                }
            },
            error: function (xhr, status, error) {
                console.error("Error occurred: " + error);
            }
        });

    }
    function onSubProgramChange() {
        var subProgramId = document.getElementById("SUBProgramID").value;

        if (subProgramId === "") {
            $("#Sectionfeild").hide();
            $("#Staticfeild").hide();
            $("#DynamicFeilds").hide();
            alert("Select Valid Sub Program");

        } else {
            $("#DynamicFeilds").show();
            $("#Sectionfeild").show();
            $("#Staticfeild").show();

        }
    }

    function addToGrid() {
        
        var category = document.getElementById("Section_Category").value.trim();
        var section = document.getElementById("Section_ID").value;
        var rating = document.getElementById("Rating_ID").value;
        var scorable = document.getElementById("scorableDropdown").value;
        var score = document.getElementById("Section_Score").value.trim();
        var level = document.getElementById("LevelDropdown").value;
        var fatal = document.getElementById("FatalDropdown").value;

        if (category === "" || section === "" || rating === "" || scorable === "" || score === "" || level === "" || fatal === "") {
            alert("Please fill all fields before adding.");
            return;
        }
        else
        {
            $("#sectiongried").show();
        }

 
        var table = document.getElementById("dataGrid").getElementsByTagName("tbody")[0];
        var newRow = table.insertRow();

        newRow.innerHTML = `
                <td>${category}</td>
                <td>${section}</td>
                <td>${rating}</td>
                <td>${scorable}</td>
                <td>${score}</td>
                <td>${level}</td>
                <td>${fatal}</td>
                <td><button class="btn btn-danger btn-sm" onclick="removeRow(this)">Remove</button></td>
            `;

        
        document.getElementById("Section_Category").value = "";
        document.getElementById("Section_ID").value = "";
        document.getElementById("Rating_ID").value = "";
        document.getElementById("scorableDropdown").value = "";
        document.getElementById("Section_Score").value = "";
        document.getElementById("LevelDropdown").value = "";
        document.getElementById("FatalDropdown").value = "";
    }

    function removeRow(button) {

        var row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }
</script>