@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 my-4">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title">  </h5>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="ProgramID">Audit Type</label>
                    @Html.DropDownList("AuditID", (List<SelectListItem>)ViewBag.AuditTypeList, "Select AditType", new { @class = "custom-select", id = "AuditID", onchange ="OnAuditChange()"})
                </div>

                <div class="form-group col-md-6">
                    <label for="ProgramID">Select Program</label>
                    @Html.DropDownList("ProgramID", (List<SelectListItem>)ViewBag.Process, "Select Program", new { @class = "custom-select", id = "ProgramID", onchange = "onProgramChange()" })
                </div>
                <div class="form-group col-md-6">
                    <label for="SUBProgramID">Sub Program Name</label>
                    <select name="SUBProgramID" id="SUBProgramID" class="custom-select" onchange="onSubProgramChange()">
                    </select>
                </div>

                <div class="form-group col-md-6" id="DispoID"style="display:none">
                    <label for="dispositionId">Disposition</label>
                    <select name="dispositionId" id="dispositionId" class="custom-select" onchange="onDispositionChange()">
                    </select>
                </div>
                <div class="form-group col-md-6" id="SUBDispoID" style="display:none">
                    <label for="SubDispositionID">Sub Disposition</label>
                    <select name="SubDispositionID" id="SubDispositionID" class="custom-select">
                    </select>
                </div>


            </div>
        </div>
    </div>
</div>




<div class="col-md-12 my-4">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title"> Search Recording </h5>
            <div class="row">

                <div class="form-group col-md-6">

                    <label for="date-input1">From Date</label>
                    <div class="input-group">
                        <input type="text" class="form-control drgpicker" id="FromDate" value="09/09/1999" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <div class="input-group-text" id="button-addon-date"><span class="fe fe-calendar fe-16"></span></div>
                        </div>
                    </div>

                </div>
                <div class="form-group col-md-6">
                    <label for="date-input1">To Date </label>
                    <div class="input-group">
                        <input type="text" class="form-control drgpicker" id="Todate" value="09/09/1999" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <div class="input-group-text" id="button-addon-date"><span class="fe fe-calendar fe-16"></span></div>
                        </div>
                    </div>

                </div>

                <div class="form-group col-md-6">
                    <label for="AgentID">Agent Name</label>
                    <select name="AgentID" id="AgentID" class="custom-select" onchange="onAgentIDChange()">
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="TL_id">TL Name</label>
                    <input type="text" placeholder="TL Name" class="custom-select" id="TL_id" />
                </div>

                 <div class="form-group col-md-6">
                    <label for="ConnID">Conn ID</label>
                    <input type="text" class="form-control" id="txtConnID" aria-describedby="button-addon2">

                </div>

                 <div class="form-group col-md-6">
                    <label for="Monitored_date">Monitored date</label>
                    <input type="text" class="form-control" id="Monitored_date" aria-describedby="button-addon2">

                </div>

                <div class="form-group col-md-6">
                    <label for="Transaction_Date">Transaction Date</label>
                    <input type="text" class="form-control" id="Transaction_Date" aria-describedby="button-addon2">

                </div>

            </div>
        </div>
    </div>
</div>



<div id="recordingContainer"></div>

<div class="col-md-12 my-4" id="RelListDiv" style="display:none">
    <div class="card shadow">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="w-50">Agent ID</th>

                            <th class="w-50">Conn ID</th>
                            <th>C-Path</th>
                        </tr>
                    </thead>
                    <tbody id="recTableBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@* 
<div class="card shadow mb-4"  id="Staticfeild">
    <div class="card-header">
        <strong class="card-title"> Static Feild</strong>
    </div>
    <div class="card-body">
        <div class="row">


            <div class="col-md-4">
                <div class="form-group mb-3">

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Program Name</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Sub Program name</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Employee Supervisor</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Monitor Name</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Year</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Disposition</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Week</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Category 2</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Employee ID</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Employee name</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Agent Tenure (<90 or>90 days)</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Monitoring ID</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Month</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Category 1</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked disabled>
                        <label class="custom-control-label" for="customCheck1">Transaction duration (AHT)</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-3">
                    <label for="date-input1">Call ID</label>
                    <div class="input-group">
                        
                    </div>

                </div>
                <div class="form-group mb-3">
                    <label for="date-input1">Monitored_date</label>
                    <div class="input-group">
                        
                    </div>

                </div>
               
                <div class="form-group mb-3">
                    <label for="date-input1">Transaction_Date</label>
                    <div class="input-group">
                        
                    </div>

                </div>
                
            </div>


        </div>
    </div>
</div> *@


<div class="card shadow mb-4" id="SectionGried">
    <div class="card-header">
        <strong class="card-title"> Section</strong>

    </div>
    <div class="card-body">

        <table id="sectionGrid" class="table table-bordered">
            <thead>
                <tr>

                    <th>Category</th>
                    <th>Level</th>
                    <th>Section Name</th>
                    <th>QA Rating</th>
                    <th>Scorable</th>

                    <th>Weightage</th>
                    <th>Comments Section</th>

                    

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>




<div class="card shadow mb-4">
    <div class="card-header">
        <strong class="card-title">Root Cause Analysis</strong>
       
    </div>
    <div class="card-body">
        <div class="row">
            <table id="rootCauseTable" class="table table-bordered">
                <thead>
                    <tr>
                      
                        <th>Metric RCA</th>
                        <th>Controllable</th>
                        <th>RCA 1</th>
                        <th>RCA 2</th>
                        <th>RCA 3</th>
                        <th>Comments Section</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>




<div class="card shadow mb-4">
    <div class="card-header">
        <strong class="card-title">Predictive Analysis</strong>
       
    </div>
    <div class="card-body">
        <div class="row">
            <table id="predictiveAnalysisTable" class="table table-bordered">
                <thead>
                    <tr>
                       
                        <th>Predictive - CSAT</th>
                        <th>Predictive - NPS</th>
                        <th>Predictive - FCR</th>
                        <th>Predictive - Repeat</th>
                        <th>Predictive - Sales effort</th>
                        <th>Predictive - Collection effort</th>
                        <th>Predictive - Probable escalation</th>
                       
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>



<div class="card shadow mb-4">
    <div class="card-header">
        <strong class="card-title">ZT Classification</strong>
      
    </div>
    <div class="card-body">
        <div class="row">
            <table id="ztClassificationTable" class="table table-bordered">
                <thead>
                    <tr>
                      
                        <th>ZT Classification</th>
                       
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>


<div class="card shadow mb-4">
    <div class="card-header">
        <strong class="card-title">Zero Tolerance Behaviour</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <label><strong>Was there any Zero Tolerance Behaviour identified?</strong></label>
            <div class="form-check form-check-inline" style="margin-left: 75px;">
                <input class="form-check-input" type="checkbox" id="yesCheckbox" name="zeroTolerance" value="Yes">
                <label class="form-check-label" for="yesCheckbox">Yes</label>
            </div>
            <div class="form-check form-check-inline" style="margin-left: 75px;">
                <input class="form-check-input" type="checkbox" id="noCheckbox" name="zeroTolerance" value="No">
                <label class="form-check-label" for="noCheckbox">No</label>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      let today = new Date().toISOString().split('T')[0]; // Get current date in YYYY-MM-DD format
      document.getElementById("Monitored_date").value = today;
       document.getElementById("Transaction_Date").value = today;
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const yesCheckbox = document.getElementById("yesCheckbox");
        const noCheckbox = document.getElementById("noCheckbox");

        yesCheckbox.addEventListener("change", function () {
            if (this.checked) {
                noCheckbox.checked = false;
            }
        });

        noCheckbox.addEventListener("change", function () {
            if (this.checked) {
                yesCheckbox.checked = false;
            }
        });
    });
</script>
<script>


    document.addEventListener("click", function (event) {
        let target = event.target;
        if (target.classList.contains("play-audio")) {
            document.querySelectorAll(".play-audio").forEach(el => el.style.color = "gray");
            target.style.color = "#03FD03";
            target.style.setProperty("color", "#03FD03", "important");

            var audioPath = target.getAttribute("data-path");
            $("#txtConnID").val(audioPath);
            $.ajax({
                type: "POST",
                data: JSON.stringify({ id: audioPath }),
                url: "/Monitor/GetRecording",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        let container = document.getElementById("recordingContainer");
                        container.innerHTML = "";
                        let byteCharacters = atob(response.audioData);
                        let byteNumbers = new Array(byteCharacters.length);
                        for (let i = 0; i < byteCharacters.length; i++) {
                            byteNumbers[i] = byteCharacters.charCodeAt(i);
                        }
                        let byteArray = new Uint8Array(byteNumbers);
                        let blob = new Blob([byteArray], { type: "audio/mpeg" });
                        let audioUrl = URL.createObjectURL(blob);

                        let audioPlayer = document.createElement("audio");
                        audioPlayer.controls = true;
                        audioPlayer.src = audioUrl;
                        audioPlayer.autoplay = true;
                        audioPlayer.style.width = "100%";
                        container.appendChild(audioPlayer);
                    } else {
                        console.error("Error: " + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error occurred: " + error);
                }
            });
        }
    });



</script>
<script>

    function OnAuditChange()
    {
        var audit = $("#AuditID").val();
        if(audit==2)
        {
           $("#DispoID").show();
              $("#SUBDispoID").show();
           
        }
        else{
            $("#DispoID").hide();
            $("#SUBDispoID").hide();
        }
   

    }
        function clearFields() {
        $("#SUBProgramID").empty().append('<option value="">Select Sub Program</option>');
        $("#dispositionId").empty().append('<option value="">Select Disposition</option>');
        $("#SubDispositionID").empty().append('<option value="">Select Sub Disposition</option>');
        $("#AgentID").empty().append('<option value="">Select Agent</option>');
        $("#TL_id").val("");
        $("#RelListDiv").hide();
    }

        function clearFieldsSubProcesssChange() {

        $("#dispositionId").empty().append('<option value="">Select Disposition</option>');
        $("#SubDispositionID").empty().append('<option value="">Select Sub Disposition</option>');
        $("#AgentID").empty().append('<option value="">Select Agent</option>');
        $("#TL_id").val("");
        $("#RelListDiv").hide();
    }
    function onProgramChange() {
           var programId = document.getElementById("ProgramID").value;


           if (programId == "") {
               alert("Please Select Program first");
               return;
           }
           $.ajax({
               type: "POST",
               data: JSON.stringify({ id: programId }),

               url: "/Admin/GetSUBProcessList",
               contentType: "application/json; charset=utf-8",
               dataType: "json",
               success: function (response) {

                   var dropdown = $('#SUBProgramID');
                   dropdown.empty();
                   dropdown.append('<option value="">Select Sub Process</option>');
                   response.proces.forEach(function (item) {
                       dropdown.append('<option value="' + item.value + '">' + item.text.split(',')[0] + '</option>');
                   });
               },
               error: function (xhr, status, error) {
                   console.error("Error occurred: " + error);
               }
           });


           clearFields();

       }


        function onAgentIDChange() {

             var fromDate = $("#FromDate").val();
                var toDate = $("#Todate").val();
                var agentId = $("#AgentID").val();

                if (!fromDate || fromDate === "09/09/1999") {
                    alert("Please select From Date. And To Date");
                    return;
                }
                if (!toDate || toDate === "09/09/1999") {
                    alert("Please select From Date And To Date.");
                    return;
                }
                if (!agentId) {
                    alert("Please select an Agent.");
                    return;
                }
           var programId = document.getElementById("AgentID").value;


           if (programId == "") {
               alert("Please Select Agent first");
               return;
           }
           $.ajax({
               type: "POST",
               data: JSON.stringify({ id: programId }),

               url: "/Monitor/GetTLName",
               contentType: "application/json; charset=utf-8",
               dataType: "json",
               success: function (response) {
                if (response.success) {
                    $("#TL_id").val(response.tl_name);  // Corrected this line
                } else {
                    alert("Error fetching TL Name.");
                    $("#RelListDiv").hide();
                }
               },
               error: function (xhr, status, error) {
                   console.error("Error occurred: " + error);
               }
           });

           $("#RelListDiv").show();
           $.ajax({
                    type: "POST",
                    data: JSON.stringify({ fromDate: fromDate, toDate: toDate, agentId: agentId }),
                    url: "/Monitor/GetRecListBydate",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.success) {

                             let recList = JSON.parse(response.reclist);


                              var tableBody = document.getElementById("recTableBody");

                                recList.forEach(function (rec) {
                                    var row = `<tr>
                                        <td class="text-center">
                                            <div >
                                             <span class="fe fe-24 fe-headphones play-audio" style="color: gray;" data-path="${rec.CONNID}"></span>

                                            </div>

                                        </td>
                                        <td class="text-muted">${rec.AgentId}</td>
                                         <td class="text-muted">${rec.CONNID}</td>

                                        <td class="text-muted">${rec.CPath}</td>
                                    </tr>`;

                                    tableBody.innerHTML += row;
                                });
                        } else {
                            alert("Error processing date range.");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error occurred: " + error);
                    }
                });
                GetSectionGried();

       }
        function populateGrid(data) {
        var tableBody = $("#sectionGrid tbody");
        tableBody.empty();
        if (data.length === 0) {
            tableBody.append("<tr><td colspan='10' class='text-center'>No records found</td></tr>");
            return;
        }

                    $.each(data, function (index, item) {
                        var row = `<tr>
                        <td>${item.category}</td>
                        <td>${item.level}</td>
                        <td>${item.sectionName}</td>
                        <td>
                            <select class="qa-rating form-control" data-index="${index}">
                             <option value="">Select Rating</option>
                                <option value="Met">Met</option>
                                <option value="Not Met">Not Met</option>
                            </select>
                        </td>
                        <td>${item.scorable}</td>
                        <td class="score-col">${item.score}</td>
                          <td><input type="text" class="form-control" id="Comments_Section" placeholder="Enter Comments Section"></td>
                    </tr>`;

                        tableBody.append(row);
                    });
                       var footerRow = `<tr>
        <td colspan="5" class="text-right font-weight-bold">CQ Scores:</td>
        <td id="totalScore" class="font-weight-bold">0</td>
    </tr>`;

    tableBody.append(footerRow);

         $(".qa-rating").on("change", function () {
        var selectedValue = $(this).val();
        var rowIndex = $(this).data("index");
        var scoreCell = $(this).closest("tr").find(".score-col");

        if (selectedValue === "Met") {
            scoreCell.text(data[rowIndex].score);
        } else {
            scoreCell.text(0);
        }
        calculateTotalScore();
    });
    calculateTotalScore();
    }

     function calculateTotalScore() {
        let total = 0;
        $(".score-col").each(function () {
            total += parseInt($(this).text()) || 0;
        });
        $("#totalScore").text(total);
    }

       function GetSectionGried()
       {
           var selectedValue = document.getElementById("SUBProgramID").value;
            $.ajax({
                type: "POST",
                url: "/ManageForm/GetSectionGried",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ SUBProcessID: selectedValue, ProcessID: $('#ProgramID').val() }),
                success: function (response) {
                  console.log(JSON.stringify(response));
                    populateGrid(response.sectionGrid);

                            if (response?.filteredPredictiveList?.length > 0) {
                                 populateTable("#predictiveAnalysisTable", response.filteredPredictiveList, "Predictive");
                            } else {
                                console.error("filteredPredictiveList is empty.");
                            }


                            if (response?.filteredZTClassificationList?.length > 0) {
                                populateTable("#ztClassificationTable", response.filteredZTClassificationList, "ZTClassification");
                            } else {
                                console.error("filteredZTClassificationList is empty.");
                            }

                              if (response?.filteredRoutwCauseList?.length > 0) {
                                populateTable("#rootCauseTable", response.filteredRoutwCauseList, "RootCause");
                            } else {
                                console.error("filteredRoutwCauseList is empty.");
                            }
                },
                error: function (xhr, status, error) {
                    console.error("Error occurred: " + error);
                }
            });
       }
    function onSubProgramChange() {

        var selectedValue = document.getElementById("SUBProgramID").value;

        if (selectedValue === '') {
            alert('Please select a valid Sub Program Name.');
         return;
        } else {
            console.log("Selected Sub Program ID:", selectedValue);


            $.ajax({
                type: "POST",
                url: "/Monitor/GetDispositoin",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ SUBProcessID: selectedValue, ProcessID: $('#ProgramID').val() }),
                success: function (response) {
                  var dropdown = $('#dispositionId');
                    dropdown.empty();
                    dropdown.append('<option value="">Select Disposition</option>');

                    console.log(JSON.stringify(response)); // Debugging

                    // Ensure we use the correct response property
                    if (response.success && response.samplesize) {
                        response.samplesize.forEach(function (item) {
                            dropdown.append('<option value="' + item.value + '">' + item.text + '</option>');
                        });
                     }


                      var dropdown = $('#AgentID');
                    dropdown.empty();
                    dropdown.append('<option value="">Select Agent Name</option>');

                    console.log(JSON.stringify(response)); // Debugging

                    // Ensure we use the correct response property
                    if (response.success && response.agentlist) {
                        response.agentlist.forEach(function (item) {
                            dropdown.append('<option value="' + item.value + '">' + item.text + '</option>');
                        });
                     }
                },
                error: function (xhr, status, error) {
                    console.error("Error occurred: " + error);
                }
            });
        }
        clearFieldsSubProcesssChange();
    }



    function onDispositionChange() {

        var selectedValue = document.getElementById("SUBProgramID").value;
        var Disposition = document.getElementById("dispositionId").value;

        if (Disposition === '') {
            alert('Please select a valid Disposition Name.');
      return;
        } else {
            console.log("Selected Sub Program ID:", selectedValue);


            $.ajax({
                type: "POST",
                url: "/Monitor/GetSubDispositoin",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ SUBProcessID: selectedValue, ProcessID: $('#ProgramID').val()  ,Disposition:Disposition}),
                success: function (response) {
                  var dropdown = $('#SubDispositionID');
                    dropdown.empty();
                    dropdown.append('<option value="">Select Sub Disposition</option>');

                    console.log(JSON.stringify(response));
                    if (response.success && response.samplesize) {
                        response.samplesize.forEach(function (item) {
                            dropdown.append('<option value="' + item.value + '">' + item.text + '</option>');
                        });
                     }
                },
                error: function (xhr, status, error) {
                    console.error("Error occurred: " + error);
                }
            });
        }
    }



        function populateTable(tableId, data, type) {
        let tableBody = $(tableId + " tbody");
        tableBody.empty();

        // Fetch RCA values once and then populate table
        $.ajax({
            type: "GET",
            url: "/Monitor/GetRCAValues",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (!response.success) {
                    console.error("Failed to fetch RCA values.");
                    return;
                }

                console.log("Rec List");

                console.log(JSON.stringify(response));
                let rca1Options = generateDropdownOptions(response.rca1);
                let rca2Options = generateDropdownOptions(response.rca2);
                let rca3Options = generateDropdownOptions(response.rca3);

                data.forEach((item, index) => {
                    let extraColumns = "";

                    if (type === "RootCause") {
                        extraColumns = `
                            <td>
                                <select class="qa-rating form-control" data-index="${index}">
                                    <option value="">Select Controllable</option>
                                    <option value="Yes" ${item.controllable === "Yes" ? "selected" : ""}>Yes</option>
                                    <option value="No" ${item.controllable === "No" ? "selected" : ""}>No</option>
                                </select>
                            </td>
                            <td>
                                <select class="qa-rating form-control rca1" data-index="${index}">
                                    <option value="">Select RCA 1</option>
                                    ${generateDropdownOptions(response.rca1, item.rca1)}
                                </select>
                            </td>
                            <td>
                                <select class="qa-rating form-control rca2" data-index="${index}">
                                    <option value="">Select RCA 2</option>
                                    ${generateDropdownOptions(response.rca2, item.rca2)}
                                </select>
                            </td>
                            <td>
                                <select class="qa-rating form-control rca3" data-index="${index}">
                                    <option value="">Select RCA 3</option>
                                    ${generateDropdownOptions(response.rca3, item.rca3)}
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" placeholder="Enter value" value="${item.textValue || ''}" />
                            </td>`;
                    }
                        else if (type === "Predictive") {
                                        extraColumns = `
                                        <td>
                                            <select class="qa-rating form-control" data-index="${index}">
                                                <option value="">Select NPS</option>
                                                <option value="Positive">Positive</option>
                                                <option value="Neutral">Neutral</option> <!-- Fixed spelling -->
                                                <option value="Negative">Negative</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="qa-rating form-control" data-index="${index}">
                                                <option value="">Select FCR</option>
                                                <option value="YES">YES</option>
                                                <option value="NO">NO</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="qa-rating form-control" data-index="${index}">
                                                <option value="">Select Repeat</option>
                                                <option value="YES">YES</option>
                                                <option value="NO">NO</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="qa-rating form-control" data-index="${index}">
                                                <option value="">Select Sales effort</option>
                                                <option value="YES">YES</option>
                                                <option value="NO">NO</option>
                                            </select>
                                        </td>
                                         <td>
                                            <select class="qa-rating form-control" data-index="${index}">
                                                <option value="">Select Collection effort</option>
                                                <option value="YES">YES</option>
                                                <option value="NO">NO</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="qa-rating form-control" data-index="${index}">
                                                <option value="">Select Escalation</option>
                                                <option value="YES">YES</option>
                                                <option value="NO">NO</option>
                                            </select>
                                        </td>`;
                                    }

                    let row = `<tr>
                       
                        <td>${item.text}</td>
                        ${extraColumns}
                    </tr>`;
                    tableBody.append(row);
                });
            },
            error: function (xhr, status, error) {
                console.error("Error occurred: " + error);
            }
        });
    }

    function generateDropdownOptions(data, selectedValue = "") {
        return data.map(item => `
            <option value="${item.id}" ${item.id == selectedValue ? "selected" : ""}>
                ${item.rcA_Value}
            </option>`).join("");
    }



</script>